 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

:root{
	--main-clr: #6793cf;
}


html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-x: hidden;

	background: #0f141d;
}
body{
	font-family: 'Lato', sans-serif;
	color: #d2d7df;

	width: 100%;
	display: table;
}

.icon{
	color: lighten($color: #303846, $amount: 30);
	user-select: none;
	cursor: pointer;
}

.logo{
	color: #d791a8;
	font-weight: 900;
	font-size: 2vmax;
	transform: skew(-20deg);
	text-shadow: 2px 2px 0 #8e315c,
	4px 4px 0 #cb7098;
}

input[type=range] {
	width: 100%;
	height: 50%;
	background: transparent;
	    -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb,
input[type=range]::-webkit-slider-thumb {
	opacity: 0;
	-webkit-appearance: none;
	background: green;
	border: none;
}



input[type=range]::-moz-range-track,
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: .3vmax;
	cursor: pointer;
	background: #303846;
	border-radius: 1000px;
	border: none;
}
input[type=range]::-moz-range-progress {
	width: 100%;
	height: .3vmax;
	cursor: pointer;
	background: #616e84;
	border-radius: 1000px;
	border: none;
}
input[type=range]:hover::-moz-range-progress {
	width: 100%;
	height: .3vmax;
	cursor: pointer;
	background: linear-gradient(to right, #b3b3b3 0%, #ffe7c1 100%);
	border-radius: 1000px;
	border: none;
}

input[type=checkbox]{
	display: none;
}
input[type=checkbox]:checked + label {
	.icon{
		color: #d2d7df !important;
	}
}


.footer{
	display: table-footer-group;
	position: relative;
	height: 1px;
	.footerContainer{
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		flex-direction: column;
		margin: 0 0 1.5vmax 0;
		height: 100%;
		width: 100%;
		
		.footerContent{
			width: 93%;
			display: flex;
			justify-content: center;
			align-items: center;
			& > div {
				flex: 1;
			}


			.left{
				.creator{
					display: flex;
					flex-direction: column;
					gap: .3vmax;
					width: 12vmax;
					white-space: nowrap;
					overflow: hidden;
					position: relative;
					mask-image: linear-gradient(to right, white 80%, transparent 95%);

					h1 {
						font-size: 1vmax;
						margin: 0;
					}


					p {
						font-size: 0.8vmax;
						margin: 0;
						color: #616e84;
					}
				}
			}

			.middle{
				display: flex;
				justify-content: center;
				align-items: center;
				#togglePlay:checked + label{
					.icon:after{
						content: "pause";
					}
				}
				.togglePlay{
					width: 2.8vmax;
					aspect-ratio: 1;
					font-size: 1.5vmax;

					display: flex;
					justify-content: center;
					align-items: center;

					margin: 0 1vmax;

					background: #303846;
					color: #d2d7df;
					border-radius: 50%;
					&:after{
						content: "play_arrow";
					}
				}

				.prev,.next{
					font-size: 1.5vmax;
					color: lighten($color: #303846, $amount: 30);
				}
			}
			.right {
				display: flex;
				justify-content: end;
				gap: 1vmax;
				.volume{
					width: 30%;
				}
			}
		}

		.footerTrack {
			padding: .8vmax 0 1vmax 0;
			position: relative;
			width: 90%;

			p{
				margin: 0;
				display: inline-block;
				font-size: .8vmax;
				bottom: .25vmax;
				color: #616e84;
				&#duration_ms{
					margin-left: auto;
				}
			}
		}
	}
}